@mixin height($height) {
  -webkit-height: $height;
  -moz-height: $height;
  -ms-height: $height;
  -o-height: $height;
  height: $height;
}

@mixin min-height($height) {
  -webkit-min-height: $height;
  -moz-min-height: $height;
  -ms-min-height: $height;
  -o-min-height: $height;
  min-height: $height;
}

// @mixin transition($x...) {
//   -webkit-transition: $x;
//   -moz-transition: $x;
//   -ms-transition: $x;
//   -o-transition: $x;
//   transition: $x;
// }
@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

@mixin bp($point) {
  @if $point==minXS {@media (min-width: 0px) {@content;}}
  @if $point==minSM {@media (min-width: 321px) {@content;}}
  // @if $point==minMD {@media (min-width: 429px) {@content;}}
  @if $point==minMD {@media (min-width: 641px) {@content;}}
  @if $point==minMDLG {@media (min-width: 835px) {@content;}}
  @if $point==minLG {@media (min-width: 1281px) {@content;}}
  @if $point==minXL {@media (min-width: 1441px) {@content;}}
  @if $point==minXXL {@media (min-width: 1601px) {@content;}}
  @if $point==minXXXL {@media (min-width: 1921px) {@content;}}
  @if $point==minXXXXL {@media (min-width: 2561px) {@content;}}  

  @if $point==maxXS {@media (max-width: 320px) {@content;}}
  // @if $point==maxSM {@media (max-width: 428px) {@content;}}
  @if $point==maxSM {@media (max-width: 640px) {@content;}}
  @if $point==maxMD {@media (max-width: 834px) {@content;}}
  @if $point==maxMDLG {@media (max-width: 1280px) {@content;}}
  @if $point==maxLG {@media (max-width: 1440px) {@content;}}
  @if $point==maxXL {@media (max-width: 1600px) {@content;}}
  @if $point==maxXXL {@media (max-width: 1920px) {@content;}}
  @if $point==maxXXXL {@media (max-width: 2560px) {@content;}} 

  @if $point==iPadProPortrait {
    @media only screen and (min-device-width: 834px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
      @content;
    }
  }
}

@function pxToRem($value) {
  $remValue: calc($value / 16) + rem; 
  @return $remValue;
}