// css variables
$white: #ffffff;
$lightWhite: #fffff5;
$black: #000000;
$lightBlack: #676767;


$winWhite: #fffff5;
$winDarkBlue: #131457;
$winBlue: #433bff;
$winLightBlue: #8f94c5;


// grid variables
$bleed: 40px;
$gutter: 20px;

$tabBleed: 20px;
$tabGutter: 20px;

$mobBleed: 10px;
$mobGutter: 10px;